@use "../../assets/sass/variables" as *;


.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__employees {
        display: grid;
        grid-template-columns: repeat(5, 10em);
        gap: 1.5em;

        margin: 2em;

        background-color: $color-background;
    }
}
