@use "../../assets/sass/variables" as *;

.employee-tile {
    height: 17em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 1em 1em $color-shadow;
    background-color: $color-white;
    border-radius: 5%;

    &__name {
        font-size: 1.5em;
        height: 15%;
    }

    &__role {
        height: 15%;
        font-size: 1em;
    }

    &__tickets {
        font-size: 0.75em;
    }
    
    &__buttons{
        display: flex;
        justify-content: space-evenly;

        color: $color-shadow;

        button {
            width: 4em;
            font-size: 1em;
        }
    }
}
